@charset "UTF-8";
body.dark .communication__arrow {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body.dark .communication__arrow:hover {
  text-shadow: 2px 4px 6px rgb(178, 178, 178);
}
body.dark .recall {
  background: #000;
  border: 1px solid #FDFDFD;
  color: #FDFDFD;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body.dark .form-content__name,
body.dark .form-content__surname,
body.dark .form-content__recall {
  background: #000;
  border: 1px solid #FDFDFD;
  color: #FDFDFD;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body.dark .form-content__name::-webkit-input-placeholder, body.dark .form-content__surname::-webkit-input-placeholder, body.dark .form-content__recall::-webkit-input-placeholder {
  color: #FDFDFD;
}
body.dark .form-content__name::-moz-placeholder, body.dark .form-content__surname::-moz-placeholder, body.dark .form-content__recall::-moz-placeholder {
  color: #FDFDFD;
}
body.dark .form-content__name:-ms-input-placeholder, body.dark .form-content__surname:-ms-input-placeholder, body.dark .form-content__recall:-ms-input-placeholder {
  color: #FDFDFD;
}
body.dark .form-content__name::-ms-input-placeholder, body.dark .form-content__surname::-ms-input-placeholder, body.dark .form-content__recall::-ms-input-placeholder {
  color: #FDFDFD;
}
body.dark .form-content__name::placeholder,
body.dark .form-content__surname::placeholder,
body.dark .form-content__recall::placeholder {
  color: #FDFDFD;
}

body.light .recall {
  background: #FDFDFD;
  border: 1px solid #545456;
  color: #727272;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body.light .communication__arrow {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body.light .communication__arrow:hover {
  text-shadow: 2px 4px 6px rgb(0, 0, 0);
}
body.light .communication__arrow {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body.light .communication__arrow:hover {
  text-shadow: 2px 4px 6px rgb(178, 178, 178);
}
body.light .form-content__name,
body.light .form-content__surname,
body.light .form-content__recall {
  background: #FDFDFD;
  border: 1px solid #000;
  color: #727272;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body.light .form-content__name::-webkit-input-placeholder, body.light .form-content__surname::-webkit-input-placeholder, body.light .form-content__recall::-webkit-input-placeholder {
  color: #727272;
}
body.light .form-content__name::-moz-placeholder, body.light .form-content__surname::-moz-placeholder, body.light .form-content__recall::-moz-placeholder {
  color: #727272;
}
body.light .form-content__name:-ms-input-placeholder, body.light .form-content__surname:-ms-input-placeholder, body.light .form-content__recall:-ms-input-placeholder {
  color: #727272;
}
body.light .form-content__name::-ms-input-placeholder, body.light .form-content__surname::-ms-input-placeholder, body.light .form-content__recall::-ms-input-placeholder {
  color: #727272;
}
body.light .form-content__name::placeholder,
body.light .form-content__surname::placeholder,
body.light .form-content__recall::placeholder {
  color: #727272;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.communication__result {
  display: none;
  color: #fff;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 27px;
  text-align: center;
  margin-bottom: 40px;
}
.communication__result.visible {
  display: block;
}
.communication__result_error {
  background: red;
}
.communication__result_succ {
  background: #3BD123;
}

.communication__forms {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.communication__wrapper {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*Стрелочки*/
.communication__arrow {
  font-size: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  left: 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.right {
  left: unset;
  right: 1em;
  -webkit-transform: translateY(-50%) rotate(175deg);
          transform: translateY(-50%) rotate(175deg);
}

/*====================================*/
/*Формы*/
/*Общие классы формочек*/
.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 689px;
  margin: 0 auto;
}

.form-content__name,
.form-content__surname,
.form-content__recall {
  width: 100%;
  font-size: 24px;
  line-height: 1.2;
  padding: 7px 23px;
  min-height: 43px;
  margin-bottom: 9px;
}

.buttons-content {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button {
  font-size: 24px;
  line-height: 29px;
  padding: 8px 0;
}

.button_clear {
  background: #F1F1F1;
  border: 1px solid #9B9B9B;
  color: #727272;
  padding-left: 20px;
  padding-right: 20px;
}

.button_send {
  background: #96B9E3;
  border: 1px solid #5266B0;
  color: #FFFFFF;
  padding-left: 74px;
  padding-right: 74px;
}

/*====================================*/
/*форма создать отзыв*/
.create-recall {
  margin-bottom: 20px;
}
.create-recall.opacity {
  opacity: 0.4;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.create-recall__title {
  margin-bottom: 39px;
}

/*=============================================*/
/*Форма изменить отзыв*/
.change-recall {
  position: absolute;
  width: 100%;
  right: -900px;
  top: 0;
}
.change-recall.opacity {
  opacity: 0.4;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.change-recall__title {
  margin-bottom: 39px;
}

.change-recall__buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*===========================================*/
/*Отзывы*/
.recalls {
  width: 100%;
  border-top: 1px solid #9B9B9B;
  margin-top: 69px;
  padding-top: 52px;
  padding-left: 44px;
}

.recall {
  max-width: 689px;
  min-height: 104px;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 40px;
  word-break: break-all;
  border: 1px solid #545456;
  color: #727272;
}

.recall-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recall-fio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0 19px;
}

.recall-fio__name {
  margin-right: 8px;
}

.recall-fio__status {
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 100%;
  margin-left: 6px;
}

.online {
  background: #3BD123;
}

.offline {
  background: red;
}

.recall-buttons {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recall-buttons__options {
  display: none;
}

.recall-buttons__change,
.recall-buttons__delete {
  font-size: 17px;
  line-height: 1.2;
  color: #FFFFFF;
  padding: 0 19px;
}

.recall-buttons__change {
  background: #96B9E3;
  border: 1px solid #5266B0;
}

.recall-buttons__delete {
  background: #F0C24C;
  border: 1px solid #886200;
}

.recall-bottom__text {
  padding: 14px 28px 26px 28px;
}

@media (max-width: 1200px) {
  .create-recall__title {
    margin-bottom: 25px;
  }

  .communication__arrow {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .form-content__name,
.form-content__surname,
.form-content__recall {
    padding: 5px 15px;
    min-height: 43px;
    font-size: 22px;
  }

  .button {
    font-size: 23px;
  }

  .communication__arrow {
    display: none;
  }

  .recalls {
    padding-left: unset;
  }

  .recall {
    position: relative;
  }

  .recall-buttons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -2px;
    top: 30%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20%) scale(0.5);
            transform: translateY(-20%) scale(0.5);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .recall-buttons.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }

  .recall-buttons__options {
    display: block;
    font-size: 24px;
    padding: 5px;
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  .communication__result {
    font-size: 22px;
  }

  .create-recall__title {
    margin-bottom: 15px;
  }

  .form-content__name,
.form-content__surname,
.form-content__recall {
    min-height: 39px;
    font-size: 20px;
  }

  .buttons-content {
    margin-top: 3px;
  }

  .button {
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .button_send {
    padding-left: 54px;
    padding-right: 54px;
  }

  /*recalls*/
  .recalls {
    padding-left: 0px;
    margin-top: 24px;
    padding-top: 27px;
  }

  .recall-fio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recall-fio__name {
    margin-bottom: 8px;
  }
  .recall-fio__surname {
    margin-bottom: 5px;
  }

  .recall-buttons__change,
.recall-buttons__delete {
    font-size: 17px;
    padding: 0 15px;
  }

  .recall-bottom__text {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .communication__result {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .form-content__name,
.form-content__surname,
.form-content__recall {
    min-height: 34px;
    font-size: 17px;
  }

  .buttons-content {
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }

  .recall-buttons__change,
.recall-buttons__delete {
    font-size: 16px;
    padding: 0 15px;
  }
}
@media (max-width: 320px) {
  .communication__result {
    font-size: 16px;
    padding: 11px;
    margin-bottom: 20px;
  }

  .form-content__name,
.form-content__surname,
.form-content__recall {
    min-height: 30px;
    font-size: 15px;
    padding: 3px 10px;
  }

  .button {
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .buttons-content {
    margin-top: 4px;
    gap: 7px;
  }
}